[submodule "enemies/beginner-2018"]
	path = enemies/beginner-2018
	url = https://github.com/SajanDinsa/2018-battlesnake
[submodule "enemies/traitor-snake"]
	path = enemies/traitor-snake
	url = https://github.com/noahspriggs/battlesnake-python
[submodule "enemies/snek-two"]
	path = enemies/snek-two
	url = https://github.com/aleksiy325/snek-two
[submodule "enemies/snakebot"]
	path = enemies/snakebot
	url = https://github.com/graeme-hill/snakebot
